<% content_for :title do %>Daily dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="You can drag the widgets around!"></div>
    </li>

    <!-- forecast -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast for Melbourne AU" ></div>
    </li>

    <!-- Heroku status -->
    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="heroku-prod" data-view="Heroku" data-title="Heroku Production"></div>
    </li>

    <!-- bar_chart -->
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bar_chart" data-view ="BarChart" data-title="" data-moreinfo="Profit/loss comparison for Fake Inc"></div>
    </li>

    <!-- Tweets -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="#auspol on Twitter" data-moreinfo="" style="background-color:#55acee;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <!-- reddit.com/r/til frontpage -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="reddit_frontpage" data-view="Reddit_frontpage" style="background-color:#a2a2a2;" data-moreinfo="http://www.reddit.com/r/todayilearned"></div>
    </li>

    <!-- News -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="news" data-view="News"></div>
    </li>

    <!-- daily_xkcd -->
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>
  </ul>
</div>